/* Make the body scrollable */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #2e004f, #130032); /* Dark purple gradient */
    height: 100%; /* Ensure full height */
    color: white;
    overflow-x: hidden; /* Prevent horizontal scroll */
    width: 100%;
  }
  
  
  
  
  /* New Sections */
  
  
  /* Existing styles remain the same */
  
  /* Continue the dark purple background */
  
  /* Adjust other existing styles if needed */
  
  /* Social Media Strip */
  
  
  /* New Styles */
  
  
  
  /* Reviews Section Styling */
  
  /* Review Section */
  /* Styling for the reviews section */
  