/* Overall container for the reviews */
.blog-section-card {
    background: linear-gradient(135deg, #2e004f, #130032); /* Dark purple background */
    padding: 80px 20px;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
    width: 95vw;
  }
  
  /* Title for the review section */
  .blog-title-card {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  /* Container for the cards slider */
  .blog-cards-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; /* Ensures the slider takes up full width */
  }

  .blog-cards-container {
    display: flex;
    gap: 20px;
    width: 900px; /* Adjust the width for 3 cards */
    justify-content: center;
  }
  
  /* Review Card styling */
  .blog-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.4s ease, background-color 0.4s ease;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .blog-image {
    width: 100%;
    height: 200px;
    border-radius: 0%;
    margin-bottom: 10px;
    transition: opacity 0.4s ease;
  }

  
  .blog-desc {
    font-size: 18px;
    margin-bottom: 10px;
    transition: transform 0.4s ease;
  }
  
  .blog-text {
    font-size: 16px;
    line-height: 1.5;
    max-height: 50px; /* Show only part of the paragraph */
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  
  
  .blog-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-10px); /* Lifts the card slightly on hover */
  }
  
  .blog-card:hover .blog-image {
    opacity: 0; /* Hide the profile pic */
  }

  .blog-card:hover .name {
    opacity: 0; /* Hide the profile pic */
  }
  
  .blog-card:hover .blog-desc {
    transform: translateY(-120px); /* Move the one-liner to the top */
  }
  
  .blog-card:hover .blog-text {
    max-height: 200px; /* Reveal the full paragraph */
    transition: max-height 0.6s ease; /* Smooth transition */
  }
  
  /* Arrow styling */
  .arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background 0.3s;
    transform: translateY(-50%);
  }
  
  .arrow:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Left and right arrows positioning */
  .left-arrow {
    left: 0px; /* Visible without scrolling */
  }
  
  .right-arrow {
    right: 0px; /* Visible without scrolling */
  }
  